body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    margin: 0 0 20px;
}

.video-container {
    margin-bottom: 20px;
}

.slider-container {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

.button-container {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
}

#myLabel {
    font-weight: bold;
    margin-bottom: 20px;
}

#heightInfo {
    text-align: left;
}
